<%- include('header'); -%>
<div class="contact">
    <table id = "catalog "> 
        <tr>
          <th>Name</th>
          <th>Adress</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>Risay Riz</td>
          <td>Dubai</td>
          <td>502687413</td>
          <td>risayrizz@gmail.com</td>
        </tr>
        <tr>
          <td>Riyas Riz</td>
          <td>Abu Dhabi</td>
          <td>502148675</td>
          <td>riyasriz@gmail.com</td>
        </tr>
        <tr>
            <td>Say Riz</td>
            <td>Dubai</td>
            <td>504872569</td>
            <td>sayriz@gmail.com</td>
          </tr>
      </table>
</div>
<%- include('footer'); -%>